<div class="side_bar">
  <div class="user_info">
    <div class="user_name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="make_chat">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="chat_rooms">
    <div class="room_name">
      <a href="#">techroom1</a>
    </div>
    <div class="room_name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>