/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.main_chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}

.user_info {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat_title {
  background-color: #FFFFFF;
  height: 100px;
  padding:0 40px;
}

.chat {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.user_name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.make_chat {
  font-size: 10px;
}

.make_chat a {
  color: deepskyblue;
  border: solid 1px lightblue;
  padding: 14px;
  text-decoration: none;
}

.room_name {
  padding: 20px 0 40px;
}

.room_name a{
  color: white;
  text-decoration: none;
}