/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.main_chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  height: 100vh;
}

.user_info {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat_header {
  background-color: #FFFFFF;
  height: 100px;
  padding:0 40px;
  display: flex;
  justify-content: space-between;
}

.chat {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.user_name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.make_chat {
  font-size: 10px;
}

.make_chat a {
  color: deepskyblue;
  border: solid 1px lightblue;
  padding: 14px;
  text-decoration: none;
}

.room_name {
  padding: 20px 0 40px;
}

.room_name a{
  color: white;
  text-decoration: none;
}

.title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat_end {
  margin-top: 40px;
}

.chat_end a {
  text-decoration: none;
  border: solid 1px darkred;
  color: darkred;
  padding: 20px;
}

.message {
  margin:10px 0 40px;
}

.upper_message {
  display: flex;
}

.message_user {
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.message_date {
  font-size: 12px;
  color:#999;
}

.lower_message {
  margin: 10px 0;
}

.message_content {
  font-size: 14px;
  color: #434A54;
}
.form_input {
  background-color: white;
  width: 100%;
  display: flex;
}

.type_a_message {
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.send {
  border: none;
  padding: 0 20px;
  height: 50px;
  font-size: 16px;
  color: white;
  margin-left: 15px;
  background-color: #38AEF0;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}